<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}credit-card-payment{% endblock %}</title>
                
        {% stylesheets '@bootstrap_css' combine=true %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <style>
            .content {
                padding: 20px;
                background: none;
            }
            
            .code input,
            .summa input,
            .currency select
            {
                width: 200px;
            }
            
            .cardNumber, .cardOwner {               
                width: 90%;
                margin: 0 auto;
            }
            
            .expirationDate {
                margin-left: 50px;
                margin-bottom: 0;
            }
            .expirationDate .form-group {
                width: 60px;
                
                display: inline-block;
                margin-bottom: 0;
                
            }
            
            .front {
                position: relative;
                left : 30px;
                padding: 10px 0;
                width: 300px; height: 200px; border: solid 1px; border-radius: 5px;
                z-index: 2;
                background: white;
            }
            
            .back {
                position: relative;
                left : 130px;
                top: -170px;
                padding: 10px 0;
                width: 300px; height: 200px; border: solid 1px; border-radius: 5px;
                z-index: 1;
            }
            
            .errors {
                display: none;
            }
            
            .tooltip-inner {
                text-align: left;
                max-width: 350px;
                font-weight: bold;
            }
                       
            .red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}
            .red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#f00; }
            
            .cvv {
                position: relative;
                left: 210px;
                top: 40px;
                width: 75px;
            }
            
            .cvv input {
                width: 75px;
            }
            
            .cardOvner input {
                text-transform: uppercase;
            }           
            
           
        </style>
        <div class="container-narrow" style="margin: 0 auto; max-width: 700px;">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    {% block menu %}
                        
                    {% endblock %}                    
                </ul>
                <h3 class="muted">credit-card-payment</h3>
            </div>
            <hr>
            <div class="jumbotron content">
                {% block body %}{% endblock %}
            </div>
        
            <hr>
            <div class="footer">
                <p>© Шумаков Сергей 2015</p>
            </div>
        </div>
        {% javascripts '@jquery' '@bootstrap_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
